---

---

<header>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kaisei+HarunoUmi&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
	<nav class = "bg-black flex w-screen h-20">
        <div class = "flex-1 flex"><h2 id="site_title" class = "text-white text-3xl font-kaisei absolute left-6 top-5">
			<a href="/">
				hanish vadlamudi
			</a>
		</h2>
    </div>
		
		<div class = "flex-1">
			<a class = "text-white text-3xl font-kaisei absolute top-5" href="google.com">Email</a>
            <a href="https://github.com/mistahanish"><img class = "w-10 h-10 rounded-full absolute right-6 top-5" src="/github-mark-white.svg" alt="github logo"></a>    
        </div>
	</nav>
</header>
